
<div>
    <div class="row">
        <div class="col-7">
            <h3 class="text-center p-4">Transaction History</h3>

            <div class="btn-group p-3 ms-5 mb-3 " role="group" aria-label="Basic example">
                <button (click)="filterData('')"  type="button" class="btn btn-dark">All</button>
                <button (click)="filterData('CREDIT')" type="button" class="btn btn-dark">Credit</button>
                <button (click)="filterData('DEBIT')" type="button" class="btn btn-dark">Debit</button>
              </div>
              <div *ngIf="spinner" class="text-center p-4">
                <i class="fa-solid fa-spinner fa-spin fa-3x text-info"></i>

              </div>
            <table *ngIf="!spinner" class="table p-3 table-dark table-striped-columns ms-5">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Account Number</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- data | pipeName: searchString : searchKey -->
                  <tr *ngFor="let i of transactionArray | filter: searchTerm :'type',let j=index">
                    <th scope="row">{{j+1}}</th>
                    <td>{{i.type}}</td>
                    <td>{{i.amount}}</td>
                    <td>{{i.tacno}}</td>
                    <td>{{i.date}}</td>
                  </tr>
                  
                </tbody>
              </table>
              <button type="button" class="btn btn-outline-secondary p-2 mt-5 ms-5 w-25" (click)="pdfExport()">
                <b>Download</b><i class="fa-solid fa-file-arrow-down ms-3 fa-2x" style="color: #5f6a7c;"></i>
            </button>
        </div>
        <div class="col-5 text-center mt-5">
          <h5>{{date | date : 'short'}}</h5>
            <img class="w-75" src="https://static.vecteezy.com/system/resources/thumbnails/003/216/276/small/tracking-statement-transaction-bank-illustration-concept-vector.jpg
            " alt=""><br>
            <button (click)="backtoHome()" type="button" class="btn btn-outline-secondary p-2 mt-5 ms-5 w-25npx-5">
                <b>Back to</b><i class="fa-solid fa-house" style="color: #21304a;"></i>
            </button>
        </div>
    </div>
</div>
























    
    